.App {
  background-color: #f9f7fe;
  padding: 30px;
}

.App-header {
  text-align: center;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: #9771f4;
}
